/*NAVBAR*/

.collapse.navbar-collapse {
    margin-left: 30px;
}

.navbar-collapse.collapse.show {
    text-align: center;
    margin-left: 0px;
}

.navbar-collapse.collapsing {
    text-align: center;
    margin-left: 0px;
}

.nav-pills .nav-link.active {
    background-color: #459BB9;
    font-weight: bold;
}

.nav-item a {
    margin-right: 10px;
    color: white;
    display: inline-block;
}

.logos {
    margin-left: 10px;
}

.logos .dwdm {
    width: 150px;
}

.logos .brightstart {
    width: 50px;
    margin-right: 15px;
}


/*HOMEPAGE*/

.conteudoDentroBackground {
    top: 50%;
    left: 50%;
    padding-top: 12.5%;
    text-align: center;
}

.tituloHomePage {
    font-style: normal;
    font-weight: bold;
    font-size: 450%;
    color: rgba(255, 255, 255, 1);
}

.subtituloHomePage {
    font-style: normal;
    font-weight: bold;
    font-size: 170%;
    color: rgba(255, 255, 255, 1);
    margin: 10px;
}

.divBotaoCandidatate {
    text-align: center;
    margin: 40px;
}

a.btn.btn-primary.botaoCandidatate {
    color: #fff;
    background-color: #459bb9;
    border-color: #459bb9;
    white-space: nowrap;
    font-size: 150%;
    font-weight: bold;
}

.row.botoesExtrasHome {
    text-align: center;
    margin-top: 20%;
}

.jumbotron {
    background-image: url(../Images/homeBackground1080p.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0%;
}

.areaSobre {
    margin-top: 80px;
}

.tituloSobreHome {
    margin-left: 8%;
    font-size: 35px;
    font-weight: bold;
}

.row.areaTextoSobre {
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
}

.col-md-7.textoSobre {
    margin-top: 60px;
}


/*CANDIDATURAS*/

.inputsCandidatura ::placeholder {
    font-weight: lighter;
    color: rgb(196, 196, 196);
}

.inputsCandidatura label {
    font-family: Montserrat;
    font-weight: bold;
}

.areaCandidaturas {
    margin-top: 60px;
}

.tituloCandidaturas {
    margin-left: 8%;
    font-size: 35px;
    font-weight: bold;
}

.row.camposCandidaturas {
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
}

.campoDescricaoCandidatura {
    margin-left: 10%;
    margin-right: 10%;
    padding-right: 15px;
    padding-left: 15px;
}

button.btn.btn-primary.enviarCandidatura {
    color: #fff;
    background-color: #459bb9;
    border-color: #459bb9;
    white-space: nowrap;
    font-size: 150%;
    font-weight: bold;
}

.divEnviarCandidatura {
    float: right;
    margin-right: 10.5%;
    margin-top: 60px;
}


/*BLOG*/

.areaBlog {
    margin-top: 60px;
}

.tituloBlog {
    margin-left: 8%;
    font-size: 35px;
    font-weight: bold;
}

.noticias {
    margin-top: 80px;
    margin-left: 15%;
    margin-right: 15%;
}

.tituloNoticia {
    font-size: 30px;
    font-weight: bold;
    margin-top: 3%;
}

.textoNoticia {
    margin-top: 5%;
}

.linkLerMais {
    margin-top: 3%;
    margin-bottom: 5%;
}

.foraSeparadorNoticia {
    margin-top: 5%;
    width: 100%;
}

.separadorNoticia {
    width: 100%;
    border-bottom: 2px solid #ccc;
}

.itemNoticia {
    margin-bottom: 5%;
}

.containerImagem {
    text-align: center;
}


/*CONTACTOS*/

.areaContactos {
    margin-top: 60px;
}

.tituloContactos {
    margin-left: 8%;
    font-size: 35px;
    font-weight: bold;
}

.row.conteudoContactos {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.tituloItemContacto {
    font-size: 30px;
    margin-bottom: 5px;
}

.itemContacto {
    margin-bottom: 15px;
}

.areaMorada {
    margin-top: 10px;
    float: left;
}

.areaMorada .location-pinContactos {
    margin-right: 20px;
    float: left;
}

.areaMorada .moradaContactos {
    float: right;
}


/*GERAL*/

html {
    scroll-behavior: smooth;
}