.tituloContactos {
    margin-left: 8%;
    font-size: 35px;
    font-weight: bold;
}

.areaCandidaturas {
    margin-top: 50px;
    margin-left: 8%;
    margin-right: 8%;
}

.itemCandidaturas {
    padding: 15px;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    margin-bottom: 25px;
}

.areaDescricao {
    border-radius: 30px;
    background-color: lightgray;
    padding: 15px;
}

.textoNome,
.textoData,
.textoEscola {
    margin-bottom: 5px;
}

.textoEmail,
.textoNumero {
    margin-bottom: 5px;
}

.textoNome span,
.textoData span,
.textoEscola span {
    color: #223E6D;
    font-size: 18px;
}

.textoEmail a,
.textoNumero a {
    color: #367BE2;
    font-size: 18px;
}

.textoNome span {
    font-weight: bold;
}

.textoData span {
    color: #92A5C6;
}

.escolaEstatico {
    font-weight: bold;
}

.botaoVerMais {
    padding-top: 10px;
}

.botaoVerMais a {
    float: right;
    border-radius: 59px;
    padding: .375rem 1.1rem
}

.areaDescricao span {
    font-size: 18px;
}

.botaoCarregarMais {
    text-align: center;
}

.botaoCarregarMais button {
    border-radius: 59px;
    padding: .39rem 1.1rem;
}