.tituloContactos {
    margin-left: 8%;
    font-size: 35px;
    font-weight: bold;
}

.areaCandidaturas {
    margin-top: 50px;
    margin-left: 8%;
    margin-right: 8%;
}

.itemCandidaturas {
    padding: 15px;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    margin-bottom: 25px;
}

.areaDescricao {
    border-radius: 30px;
    background-color: lightgray;
    padding: 15px;
}

.textoNome,
.textoData,
.textoEscola {
    margin-bottom: 5px;
}

.textoEmail,
.textoNumero {
    margin-bottom: 5px;
}

.textoNome span,
.textoData span,
.textoEscola span {
    color: #223E6D;
    font-size: 18px;
}

.textoEmail a,
.textoNumero a {
    color: #367BE2;
    font-size: 18px;
    /* CSS3 */
    white-space: pre-wrap;
    /* Firefox */
    white-space: -moz-pre-wrap;
    /* Opera <7 */
    white-space: -pre-wrap;
    /* Opera 7 */
    white-space: -o-pre-wrap;
    /* IE */
    word-wrap: break-word;
}

.textoNome span {
    font-weight: bold;
}

.textoData span {
    color: #92A5C6;
}

.escolaEstatico {
    font-weight: bold;
}

.botaoDesaprovar {
    padding-top: 10px;
    margin-top: 25px;
}

.botaoDesaprovar a {
    float: right;
    border-radius: 59px;
    padding: .375rem 1.1rem;
    position: absolute;
    right: 120px;
    bottom: 10px;
}

.botaoAprovar {
    padding-top: 10px;
    margin-top: 25px;
}

.botaoAprovar a {
    float: right;
    border-radius: 59px;
    padding: .375rem 1.1rem;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.areaDescricao span {
    font-size: 18px;
}

.botaoCarregarMais {
    text-align: center;
}

.botaoCarregarMais button {
    border-radius: 59px;
    padding: .39rem 1.1rem;
}

.botoesStatus button {
    border-radius: 59px;
    padding: .375rem 1.1rem;
    margin-right: 10px;
    margin-bottom: 10px;
}

.alert {
    display: none;
    text-align: center;
}